{
  "plugins": ["@prettier/plugin-pug"],
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "parser": "pug",
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSameLine": false,
        "pugSingleFileComponentIndentation": true
      }
    }
  ]
}
